<!-- sidebar -->
<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="header">Navigation</li>
    <li id="category_treeview" class="treeview">
      <a href="#">
        <i class="fa fa-home"></i> <span>Category</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li id="category_treeview_home"><a href="/home"><i class="fa fa-circle-o"></i> Home</a></li>
      </ul>
    </li>
  </ul>
</section>
<!-- /.sidebar -->
